:root{
    --PrimaryColor: hsl(199,100%,33%);
    --SecondryColor: hsl(199, 73%, 46%);
    --GradientColor: linear-gradient(to right, hsl(240, 4%, 5%), hsl(199,100%,33%));
    --whiteColor: hsl(0, 0%, 100%);
    --BlackColor: hsl(0, 0%, 0%);
    --whiteColorDeam: hsl(0, 0%, 97%);
    --textColor: hsl(180, 0%, 40%);
    --greyColor: rgb(226, 214, 225);
    --inputColor: rgb(226, 214, 225);
    --bodyColor: rgb(241, 241, 241);
    --cardBG: rgb(226, 214, 225);
    --cardHover: rgb(235, 232, 232);
    
  
  }

  .main{
    width: 100%;

    .secTitle{
        .title{
            position: relative;
            width: max-content;
            color: var(--textColor);
            margin: 1rem 0;
            z-index: 2;

            &::after{
                position: absolute;
                content: '';
                background: var(--SecondryColor);
                right: 0;
                width: 120px;
                bottom: 5px;
                z-index: -1;
                height: 5px;
            }
        }
    }

    .secContent{
        justify-content: center;
        gap: 1.5rem;
        
        .singleDestination{
            height: 100%;
            display: grid;
            row-gap: 10px;
            padding: 1.5rem;
            border-radius: 10px;
            align-items: center;
            background: var(--cardBG);
            box-shadow: 0 2px 4px rgba(140, 140, 140, 0.549);
            overflow: hidden;
            
            &:hover{
                background: var(--cardHover);
                box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
                transition: .3s ease;

            }

            .imageDiv{
                height: 100%;
                width: 100%;
                overflow: hidden;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    transition: 2s ease;


                }

                &:hover{
                    img{
                        transform: scale(1.3);
                    }
                }
            }

            .cardTnfo{
                padding: 1rem;

                .destTitle{
                    color: var(--BlackColor);
                    font-size: 1.25rem;

                }

                .continent{
                    gap: .5rem;


                    .icon{
                        color: var(--textColor);
                        font-size: 18px;
                    }

                    .name{

                        color: var(--textColor);
                        font-weight: 400;
                        font-size: 14px;

                    }

                }
                .fees {
                    width: 100%;
                    justify-content: space-between;
                    padding: 1rem;
                    margin: 1rem;
                    border-top: 1.5px solid var(--textColor);

                    
                }
            }
        }
    }
  }